# Node.js dependencies
node_modules

# Local environment variables
.env

# Build output
dist
coverage

# IDE/editor settings
.vscode

# SonarQube scanner local data
.scannerwork

# Local OS / editor temporary files
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
